@font-face {
  font-family: 'DINWebPro';
  src: url('/file/DINWebPro.eot'); /* IE9 Compat Modes */
  src: url('/file/DINWebPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/file/DINWebPro.woff') format('woff'); /* Pretty Modern Browsers */
}
#one_01_slide img {
  width: 320px;

}
.slide.purple {
  background-color: #684fc8;
  background-image: -webkit-radial-gradient(49% 110%, #684fc8 37%, #18123f 100%);
  background-image: radial-gradient(at 49% 110%, #684fc8 37%, #18123f 100%);
  color: #fff;
  font-family: 'DINWebPro', 'Helvetica Neue', sans-serif;
}
.slide.purple a {
  color: #fff;
  font-family: 'DINWebPro', 'Helvetica Neue', sans-serif;
}
.content.subsection h1 {
  background-color: #684fc8;
  background-image: -webkit-radial-gradient(49% 110%, #684fc8 37%, #18123f 100%);
  background-image: radial-gradient(at 49% 110%, #684fc8 37%, #18123f 100%);
  font-family: 'DINWebPro', 'Helvetica Neue', sans-serif;
}
